#Files to ignore
*.pyc 
ls
#Folders to ignore:
.history/
.vscode/
.idea/
.pt_tmp/

#Personal notes:
#My vscode setting path: /Users/hosseinaboutalebi/Library/Application Support/Code/User/settings.json